@import "./assets/fonts.scss";
@import "variables.scss";

@import "normalize.scss";

body {
  background-color: $background;
}

.App {
  max-width: 1340px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  &__absolute-wrapper {
    position: relative;
    width: 100%;
  }
}
