@import 'variables.scss';

.pizza-wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 65px 35px;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  @include _1340 {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 50px;
  }
  @include _979 {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    padding-right: 30px;
  }
  @include _670 {
    grid-template-columns: 1fr;
  }
  @include _600 {
    padding-bottom: 30px;
  }
  @include _380 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pizza-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__rating {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    @include _600 {
      right: inherit;
      left: 0;
    }
    &-value {
      font-weight: bold;
      margin-right: 5px;
    }
    &-img {
      width: 20px;
      margin-bottom: 2px;
    }
  }
  &__image {
    width: 90%;
    margin-bottom: 10px;
    @include _670 {
      width: 70%;
    }
    @include _380 {
      width: 60%;
    }
  }
  &__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $menu-background;
    border-radius: 10px;
    padding: 7px 5px;
    margin-bottom: 15px;
  }
  &__thickness {
    display: flex;
    width: 100%;
    margin-bottom: 7px;
    li {
      flex-basis: 50%;
      flex-grow: 1;
    }
  }
  &__size {
    display: flex;
    li {
      flex-basis: calc(100% / 3);
      flex-grow: 1;
    }
  }
  &__option {
    width: 100%;
    border: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: inherit;
    &_active {
      background-color: #fff;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__price {
    font-weight: bold;
    font-size: 22px;
    @include _1170 {
      font-size: 18px;
    }
  }
  &__add-button {
    font-weight: bold;
    font-size: 16px;
    color: $orange;
    background-color: inherit;
    border: 1px solid $orange;
    border-radius: 30px;
    padding: 10px 15px; 
    cursor: pointer;
    transition: all $duration ease-in-out;
    &-icon {
      transition: filter $duration ease-in-out;
      width: 12px;
      height: 12px;
      padding-top: 2px;
    }
    &:hover {
      background-color: $orange;
      color: #fff;
      .pizza-card__counter {
        background-color: #fff;
        color: $orange;
      }
      .pizza-card__add-button-icon {
        filter: brightness(9);
      }
    }
    @include _1170 {
      font-size: 14px;
    }
    @include _979 {
      font-size: 16px;
    }
    @include _380 {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
  &__counter {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    padding: 5px;
    color: #fff;
    background-color: $orange;
    border-radius: 50%;
    margin-left: 5px;
  }
}