@import 'variables.scss';

.notFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  a {
    border-radius: 30px;
    border: 2px solid $dark;
    padding: 10px 25px;
    background-color: $dark;
    color: #ffffff;
    margin-top: 20px;
  }
}